alpha_vantage
beautifulsoup4
groq
numpy
openai
pandas
plotly
python-dotenv
requests
scikit-learn
streamlit
streamlit-autorefresh
streamlit-option-menu
transformers
vaderSentiment
yfinance